<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fox"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fox"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelasProjete"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TelasProjete">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VeiculoActivity"></activity>
        <activity android:name=".MapaActivity"></activity>
        <activity android:name=".MecanicoActivity"></activity>
        <activity android:name=".MudarActivity"></activity>
    </application>

</manifest>